

*{
  box-sizing: border-box;
}

body {
  font-family: 'Lora', sans-serif;
  font-size: 1.05em;

  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #ff2837;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
  margin: 1.414em 0 .5em;
  color: #1e1e28;
}

h3,
h4 {
  font-size: 1.333em;
}

p {
  line-height: 1.4em;

  color: #666;
}

.header {
  position: relative;

  width: 100%;
  padding-top: 20px;

  -webkit-transition: height .2s ease;
     -moz-transition: height .2s ease;
       -o-transition: height .2s ease; 
          transition: height .2s ease;

  background-image:    -moz-linear-gradient(-45deg, rgba(82,149,201,1) 0%, rgba(22,149,163,1) 100%);
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(82,149,201,1)), color-stop(100%,rgba(22,149,163,1))); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(-45deg, rgba(82,149,201,1) 0%,rgba(22,149,163,1) 100%);
  background-image:      -o-linear-gradient(-45deg, rgba(82,149,201,1) 0%,rgba(22,149,163,1) 100%);
  background-image:     -ms-linear-gradient(-45deg, rgba(82,149,201,1) 0%,rgba(22,149,163,1) 100%);
  background-image:         linear-gradient(135deg, rgba(82,149,201,1) 0%,rgba(22,149,163,1) 100%);
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 730px, 100% 730px;
}

header::before {
  position: absolute;
  z-index: -1;

  width: 100%;
  height: 700px;

  background-color: rgb(82,149,201);
}

header h2 {
  min-height: 60px;
  margin-top: 0;
}

.button {
  font-size: 1.333em;

  display: inline-block;
  width: 100%;
  max-width: 300px;
  margin: 0 auto 0 auto;
  padding: 10px;

  text-align: center;

  color: #1c95a7;
  border: 2px solid #1c95a7;
  border-radius: 5px;
}

.content {
  max-width: 1024px;
  padding: 0 2em;
  margin: 0 auto 0 auto;
}

@media(max-width: 550px) {
  .content {
    padding: 0 1em;
  }
}

.section-container {
  width: 100%;
}

.section-container::after {
  display: table;
  clear: both;
  content: '';
}


.feature-heading h2{
  display: inline;
  color:#ff2837;
  margin:0;
  font-weight: normal;
  text-transform: none;
}

.icon {
  color: #ff2837;
  font-size: 1.8em;
  padding:0;
  margin-right:0.2em;
  vertical-align: top;

}

.section,
.section-column--50 {
  padding: 20px;
}

.section-column--50 {
  float: left;
  width: 31%;
  text-align: left;
}

.section-column--50
{
  width: 50%
}

@-moz-keyframes fadeInUp {
  0% {
    transform: translate3d(0, 10%, 0);

    opacity: 0;
  }
  100% {
    transform: none;

    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    transform: translate3d(0, 10%, 0);

    opacity: 0;
  }
  100% {
    transform: none;

    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    transform: translate3d(0, 10%, 0);

    opacity: 0;
  }
  100% {
    transform: none;

    opacity: 1;
  }
}

/* Components */

.logo__container{
  padding:2em 0em;
}

.logo{
  width:4.3em;
  float: left;
}

.github {
  color: white;
  background-color: #ff2837;
  border-radius:4px;
  padding:0.8em 1.7em;
  text-transform: uppercase;
  font-family: 'Varela Round', sans-serif;
  font-size: 0.9em;
  letter-spacing: 1px;
}

.top-button{
  float:right;
}

.bottom-button {
  margin-top:3em;
}

.heading {
  font-family: 'Varela Round', sans-serif;
  font-size: 4em;
  font-weight: 100;
  margin-top: .5em;
}
.description {
  font-size: 2em;
  font-weight: 200;
  font-family: 'Lora', sans-serif;
  text-transform: none;
  line-height:1.5em;
  text-align: center;
  margin-bottom:1em;
}

@media(max-width:800px) {
  .heading {
    font-size: 2.8em;
  }
  .description{
    font-size: 1.5em;
  }
}

.heading__container {
  text-align: center;
}

.screenshot {
  width: 100%;
  max-width: 900px;
  max-height: 557px;
  margin: 0 auto 0 auto;

  -webkit-animation-name: fadeInUp;
     -moz-animation-name: fadeInUp;
          animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
     -moz-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: .6s;
     -moz-animation-delay: .6s;
          animation-delay: .6s;

  opacity: 0;

     -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;

  position: relative;
}

.screenshot__demo {

  position: absolute;
  top: 50%;
  left: 0;
  text-align: center;
  width: 100%;
  color: #FFF;
  text-shadow: 0 -1px rgba(0,0,0,.5);
  padding: 2px 0;
  background-color: #ff2837;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.5);
  font: 700 13px "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.15)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  text-transform: uppercase;
  font-size: 2em;

}

.screenshot__demo::before,
.screenshot__demo::after
{

  content: "";
  width: 100%;
  display: block;
  margin: 2px 0;
  border-width: 1px 0 0;
  border-style: dotted;
  border-color: rgba(255,255,255,.7);
  height: 1;

}

.screenshot__image {
  overflow: hidden;

  width: 100%;
  max-width: 900px;
  height: 100%;
  max-height: 557px;

  background-image: url('../screenshot.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
}

@media(max-width: 650px){
  .screenshot__demo {
    font-size: 1.7em;
  }
  .top-button{
    padding:0.8em 1.7em;
    font-size: 0.75em;
    letter-spacing: 1px;
  }

}

.browser {
  position: relative;
  padding: 35px 5px 5px;
  border-radius: 10px 10px 0 0;
  background: #e2e2e2;
}

.browser::before {
  font-size: 50px;
  line-height: 20px;

  position: absolute;
  top: 10px;
  left: 10px;

  display: block;

  content: '•';

  color: #ff2837;
}

.browser::after {
  font-size: 50px;
  line-height: 20px;

  position: absolute;
  top: 10px;
  left: 29px;

  display: block;

  content: '••';

  color: #999;
}

.terminal {
  text-align: left;
}

.terminal code {
  font-size: 16px;
  display: block;

  padding: 5px 20px;

  color: #fff;
  background: #999;
  overflow: auto;
}

.terminal mark {
  background: none;
  color: #1e1e28;
}

@media(max-width: 470px) {
  .terminal mark , .terminal code{
    font-size: 14px;
  } 
}

.terminal a, .terminal a:visited {
  color: #1e1e28;
}

.terminal a:hover {
  text-decoration: underline;
}

.button {
  display: block;
  margin: 0 auto;
}

.large {
  font-size: 18px;
  text-align: center;
}

.ingress{
  line-height: 1.5em;
}

.feature-container {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top:1.5em;
  padding-bottom: 1.5em;
}

.feature {
  flex-basis:33.3%;
  padding:0.5em 0.4em;
}

@media(max-width: 1100px){
  .feature{
    flex-basis:40%;
  }

  .feature-container {
    justify-content: space-around;
  }
}

@media(max-width: 900px) {
  .feature {
    flex-basis:45%;
  }
}

@media(max-width: 800px){
  .feature {
    flex-basis: 85%;
    padding-bottom:0.5em;
    text-align: center;
  }

  .feature-heading{
    text-align: center;
  }
}

@media(max-width: 615px){
  .feature {
    flex-basis: 100%;
  }
}

@media(max-width:500px) {
  .feature, .feature-heading {
    text-align: left;
  }
}

footer {
  font: 0/0 a;

  margin-top: 20px;

  color: #fff;
  background-color: #21212B;
}

.footer__content {
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 20px;

  text-align: center;
}

.footer__text {
  font-family: 'Lora', sans-serif;
  font-size: 25px;
  line-height: 1em;
  margin-right:0.15em;
  height: 64px;
}

.footer__image {
  margin-top: -14px;
  vertical-align: middle;
}

@media screen and (max-width: 767px) {
  header h1,
  header .button {
    float: none;
  }


  .footer__image {
    display: block;
    margin: 0 auto 0 auto;
  }
}

@media(max-width: 840px){
    .section-column--50 {
      float: none;
      width: 100%;
  }
}
