@import 'components/github-fork-ribbon-css/gh-fork-ribbon.css';

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: .9rem;

  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;

  color: #eb7f00;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: inherit;
  font-weight: 200;
  line-height: 1.2;

  margin: 1.414em 0 .5em;

  color: #1c3849;
}

h3,
h4 {
  font-size: 1.333em;
}

p {
  line-height: 1.4em;

  color: #666;
}

header {
  position: relative;

  width: 100%;
  padding-top: 20px;

  -webkit-transition: height .2s ease;
     -moz-transition: height .2s ease;
       -o-transition: height .2s ease;
          transition: height .2s ease;

  background-image:    -moz-linear-gradient(-45deg, rgba(82,149,201,1) 0%, rgba(22,149,163,1) 100%);
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(82,149,201,1)), color-stop(100%,rgba(22,149,163,1))); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(-45deg, rgba(82,149,201,1) 0%,rgba(22,149,163,1) 100%);
  background-image:      -o-linear-gradient(-45deg, rgba(82,149,201,1) 0%,rgba(22,149,163,1) 100%);
  background-image:     -ms-linear-gradient(-45deg, rgba(82,149,201,1) 0%,rgba(22,149,163,1) 100%);
  background-image:         linear-gradient(135deg, rgba(82,149,201,1) 0%,rgba(22,149,163,1) 100%);
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 730px, 100% 730px;
}

header::before {
  position: absolute;
  z-index: -1;

  width: 100%;
  height: 700px;

  background-color: rgb(82,149,201);
}

header h2 {
  min-height: 60px;
  margin-top: 0;
}

.button {
  font-size: 1.333em;

  display: inline-block;

  box-sizing: border-box;
  width: 100%;
  max-width: 300px;
  margin: 0 auto 0 auto;
  padding: 10px;

  text-align: center;

  color: #1c95a7;
  border: 2px solid #1c95a7;
  border-radius: 5px;
}

.content {
  max-width: 1024px;
  margin: 0 auto 0 auto;
}

.section-container {
  box-sizing: border-box;
  width: 100%;

  text-align: center;
}

.section,
.section-column {
  padding: 20px;
}

.section-column {
  float: left;

  box-sizing: border-box;
  width: 25%;

  text-align: left;
}

.section-column h2 {
  min-height: 60px;
}

@media screen and (max-width: 767px) {
  header h1,
  header .button {
    float: none;
  }

  .section-column {
    float: none;

    width: 100%;
  }

  .section h2 {
    min-height: 0;
  }
}

@-moz-keyframes fadeInUp {
  0% {
    transform: translate3d(0, 10%, 0);

    opacity: 0;
  }
  100% {
    transform: none;

    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    transform: translate3d(0, 10%, 0);

    opacity: 0;
  }
  100% {
    transform: none;

    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    transform: translate3d(0, 10%, 0);

    opacity: 0;
  }
  100% {
    transform: none;

    opacity: 1;
  }
}

/* Components */

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 4em;
  font-weight: 100;

  margin-top: .5em;

  color: #fff;
  text-shadow: 0 1px 5px rgba(0, 0, 0, .3);
}

.logo__container {
  text-align: center;
}

.description {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.777em;
  font-weight: 200;

  color: #fff;
}

.github-fork-ribbon {
  background-color: #f80;
}

.screenshot {
  width: 100%;
  max-width: 900px;
  max-height: 560px;
  margin: 0 auto 0 auto;

  -webkit-animation-name: fadeInUp;
     -moz-animation-name: fadeInUp;
          animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
     -moz-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: .6s;
     -moz-animation-delay: .6s;
          animation-delay: .6s;

  opacity: 0;

     -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.screenshot__image {
  overflow: hidden;

  width: 100%;
  max-width: 900px;
  height: 100%;
  max-height: 560px;

  background-image: url('../screenshot.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.browser {
  position: relative;

  padding: 35px 5px 5px;

  border-radius: 10px 10px 0 0;
  background: #e2e2e2;
}

.browser::before {
  font-size: 50px;
  line-height: 20px;

  position: absolute;
  top: 10px;
  left: 10px;

  display: block;

  content: '•';

  color: #fc605b;
}

.browser::after {
  font-size: 50px;
  line-height: 20px;

  position: absolute;
  top: 10px;
  left: 29px;

  display: block;

  content: '••';

  color: #999;
}

footer {
  font: 0/0 a;

  margin-top: 20px;

  color: #fff;
  background-color: #e2e2e2;
}

.footer__content {
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 20px;

  text-align: center;
}

.footer__text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 28px;
  line-height: 1em;

  height: 64px;
}

.footer__image {
  margin-top: -14px;

  vertical-align: middle;
}
