@import "styleguide_variables";

// Colors
//
// This section demonstrates how to present your color variables using
// styleguide
//
// $color-turtle - Heroes in a half-shell
// $color-leonardo - Leads
// $color-donatello - Does machines
// $color-raphael - Cool but crude
// $color-michelangelo - Party dude
//
// Markup:
// <div class="styleguide-color" style="background: {$modifiers};"></div>
//
// Styleguide 1.0

// Typography
//
// You can also use styleguide to demonstrate your typographic scale etc.
//
// Markup:
// <div style="font-family: $font-primary">
//   <h1>Quick brown fox</h1>
//   <h2>Quick brown fox</h2>
//   <h3>Quick brown fox</h3>
//   <h4>Quick brown fox</h4>
//   <p>Quick brown fox</p>
//   <small>Quick brown fox</small>
// </div>
//
// Styleguide 2.0

html {font-size: 1em;}

body {
  background-color: white;
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
}

h2 {font-size: 2.827em;}

h3 {font-size: 1.999em;}

h4 {font-size: 1.414em;}

small, .font_small {font-size: 0.707em;}

// Elements
//
// This section contains example documentation of different kinds of html
// elements
//
// Styleguide 3.0

// Buttons
//
// This section demonstrates the use of modifiers
//
// default - This is the default state of a button element
// .green - This is a button with a class modifier
// .red - This is another button with a class modifier
// :hover - This is a button with the hover pseudo modifier
//
// Markup:
// <button class="button {$modifiers}">Click me!</button>
//
// Styleguide 3.1

.button {
  border: 1px solid black;
  padding: 1em;
  border-radius: 5px;

  &.green {
    background: $color-turtle;
  }
  &.red {
    background: $color-raphael;
  }
  &:hover {
    background: yellow;
  }
}

// Grid
//
// You can use styleguide visualize your page layouts
//
// Markup:
// <div class="grid-wrapper styleguide-grid-unit">
//   <div class="columns twelve styleguide-grid-unit"></div>
//   <div class="columns six styleguide-grid-unit"></div>
//   <div class="columns six styleguide-grid-unit"></div>
//   <div class="columns four styleguide-grid-unit"></div>
//   <div class="columns four styleguide-grid-unit"></div>
//   <div class="columns four styleguide-grid-unit"></div>
// </div>
//
// Styleguide 3.2

.grid-wrapper {
  box-sizing: border-box;
  * {
    display: inline-block;
  }

  .columns {
    &.twelve {
      width: 100%;
    }

    &.six {
      width: 49.6%;
    }

    &.four {
      width: 32.3333%;
    }
  }
}

// Components
//
// You can view your Angular Directives implemented for the project
//
// markup:
// <div class="test" test-directive=""></div>
//
// Styleguide 4.0
