doctype html
html
  head

    link(href='/css/screen.css', media='screen, projection', rel='stylesheet', type='text/css')
    link(href='/css/print.css', media='print', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/js/vendor/jquery-ui-1.11.1/jquery-ui.min.css')
    //[if IE]>
      <link href="/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    //<![endif]

    title= title
    link(rel='stylesheet', href='/css/scyleguide-settings.css')
  body
    block content
    block javascript
      script(src='/socket.io/socket.io.js')
      script(src='/js/vendor/jquery-ui-1.11.1/external/jquery/jquery.js')
      script(src='/js/vendor/jquery-ui-1.11.1/jquery-ui.min.js')
      block extra_js

