/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href='/stylesheets/screen.css' media='screen, projection' rel='stylesheet' type='text/css' /> */

@import 'reset';
@import 'scyleguide-settings';

* {
  box-sizing: border-box;
}

body, html {
  widht: 100%;
  height: 100%;
}

.view-index {
  height: 100%;
}

.sg {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgba(#333, 1);
}

a.sg {
  color: rgba(#000, 1);
}

p.sg {
  margin-bottom: 1.3rem;
  line-height: 1.5rem;
}

h3.sg, h4.sg {
  margin: 0.5rem 0 0.5rem;
  font-weight: inherit;
  line-height: 1.2;
}

h3.sg {
  font-size: 1.777rem;
}

h4.sg {
  font-size: 1.333rem;
}

.sg-nav {
  display: inline-block;
  height: 100%;
  width: 15%;
  padding: 1rem;
  font-size: 0.8rem;
  vertical-align: top;
  > ul {
    > li {
      line-height: 1.5rem;
    }
  }
}

.sg-body {
  display: inline-block;
  width: 84%;
  vertical-align: top;
  padding: 1rem;
}

.sg-section {
  width: 80%;
  margin: 0 auto 1rem auto;
  background: rgba(#F9F9F9, 1);
  border-radius: 5px;

  > header {
    border-radius: 5px 5px 0 0;
    background: rgba(#333, 1);
    padding: 0.5rem 1rem 0.5rem 1rem;
    > h2 {
      margin: 0.5rem 0 0.5rem;
      color: rgba(#fff, 1);
      font-size: 1rem;
      line-height: 1.2;
      font-weight: bold;
    }
  }

  > .body {
    padding: 1rem;
    > .modifier-name {
      margin-top: 2rem;
    }
    > .markup {
      margin-top: 2rem;
      padding: 1rem;
      background: rgba(#fff, 1);
      border: 1px solid rgba(#eee, 1);
      font-family: "Lucida Console", Monaco, monospace;
      font-size: 0.8em;
      line-height: 1.2rem;
    }
  }

  .modifier-list {
    > .item {
      font-size: 0.8rem;
      line-height: 1.8rem;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      > strong {
        font-weight: bold;
      }
    }
  }
}