/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href='/stylesheets/screen.css' media='screen, projection' rel='stylesheet' type='text/css' /> */

@import 'reset';
@import 'scyleguide-settings';

* {
  box-sizing: border-box;
}

body, html {
  widht: 100%;
  height: 100%;
}

.view-index {
  height: 100%;
}

.sg {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgba(#333, 1);
}

a.sg {
  color: rgba(#000, 1);
}

p.sg {
  margin-bottom: 1.3em;
}

h1.sg, h2.sg, h3.sg, h4.sg {
  margin: 0.5em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1.sg {
  margin-top: 0;
  font-size: 3.157em;
}

h2.sg {
  font-size: 2.369em;
  font-weight: bold;
}

h3.sg {
  font-size: 1.777em;
}

h4.sg {
  font-size: 1.333em;
}

.sg-nav {
  display: inline-block;
  height: 100%;
  width: 15%;
  padding: 1rem;
  vertical-align: top;
  ul {
    li {
      line-height: 1.5rem;
    }
  }
}

.sg-body {
  display: inline-block;
  width: 84%;
  vertical-align: top;
  padding: 1rem;
}

.sg-markup {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 0.8em;
}

section.sg {
  padding: 1rem;
  margin-bottom: 10px;
  background: rgba(#F9F9F9, 1);
  border-radius: 5px;

  .modifier-name {
    margin-top: 2rem;
  } 
}